.cms-article {
  padding: 10px 0px;
}

.cms-article--item {
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
}

.cms-edit-mode .cms-article--item {
  border: 1px solid lightgray;
}

.cms-article--item cms-template-item {
  width: 100%;
  margin-right: 10px;
}

.cms-toggle-mode {
  width: 100%;
  padding: 10px;
  border: none;
}

.cms-add-menu {
  list-style: none;
  padding: 10px;
  border: solid 1px lightgray;
  display: inline-block;
  position: relative;
  background-color: white;
  margin-top: 20px;
  margin-left: calc(50% - 75px);
  width: 150px;
}

.cms-add-menu li {
  margin: 5px 0;
  cursor: pointer;
}

.cms-add-menu i {
  background: gray;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  color: white;
}

.cms-add-menu::before {
  content: "";
  position: absolute;
  border: solid 1px;
  width: 40px;
  height: 40px;
  transform: rotate(45deg);
  top: -20px;
  left: calc(50% - 20px);
  z-index: -1;
}

.cms-add-menu::after {
  content: "+";
  position: absolute;
  border: solid 1px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  top: -35px;
  left: calc(50% - 10px);
  text-align: center;
  background-color: white;
  z-index: -1;
}
